body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

.react_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* CONTAINER */

.containerr {
  display: flex;
  flex-direction: row;
}

.scrollBar1 {
  overflow-y:scroll; 
  height:553px;
  width:200px;
}

.scrollBar1 div {
  margin-top: 30px;
}

.company_details {
  padding: 40px 40px;

  font-size: 25px;
}

.cargo_boxes input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid;
}








/* MEDIA */


@media screen and (max-width: 920px) {
  .searchbar_input {
      width: 300px;
      padding: 10px;
  }
}

@media screen and (max-width: 760px) {
  .searchbar_input {
      width: 250px;
      padding: 10px;
  }

  .main__header_wrap {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }

  .searchBar {
      margin: 0px 0px 30px 0px;
  }

  .company_details {    
      font-size: 12px;
  }
}